
h1, .search-container-wrapper, .menubar-contents-left, .main-contents-left, .main-contents-center, .list-content, .footer-left{
    float: left;
}

.navbar-contents-right, .menubar-contents-right, .main-contents-right, .search-contents li img, .search-list img, .footer-right{
    float: right;
}

.main-container-img, .tab-1{
    float: left;
}

.tab-2, .tab-4{
    float: right;
}

.center-menu-bar-left, .center-menu-bar-right{
    float: none;
}

@media(min-width:727px){
    .center-menu-bar-left {
        float: left;
    }

    .center-menu-bar-right{
        float: right;
    }
}

@media(min-width:992px){
    .main-container-img{
        float: left;
    }

    .center-menu-bar-right{
        float: right;
    }

}