/* .navbar-contents-left{
    float: left;
} */

h1, .search-container-wrapper, .menubar-contents-left, .main-contents-left, .main-contents-center, .list-contents li span{
    float: left;
}

/* .search-button-container img, .search-button{
    float: left;
} */

.navbar-contents-right, .menubar-contents-right, .main-contents-right, .list-contents li img{
    float: right;
}
