body{
    font-family: 'Istok Web', sans-serif;
}

li{
    list-style: none;
}

span{
    display: inline-block;   
}

a{
    text-decoration: none;
}

.navbar{
    background: #7dd8e8;
    padding: 1.187em 0 0.375em 0;
}

.contents{
    max-width: 58.75em;
}

.navbar-contents-left h1{
    font-family: 'Roboto Slab', serif;
    font-size: 3.125em;
    margin-top: -11px;
    font-weight: 200;
    color: #274f56;
}

.search-container-wrapper{
    margin: 1.25em 0em 0.56em 1.43em;
}

.search-container{
    background: url(../img/search-input.png) no-repeat;
}

.search-container input{
    margin-left: 0.6em;
    width: 207px;
    border: none;
    background-color: transparent;
    vertical-align: super;    
    font-size: 0.61em;
}

.search-container input:focus{
    outline: none;
}

.search-button-container{
    margin-left: 0.4375em;
}

.search-button-left{
    margin-right: -0.0625em;
}

.search-button-right{
    margin-left: -0.0625em;
}

.search-button{
    background: #274f56;
    height: 1.22em;
    vertical-align: top;    
    padding: 0 0.0625em;
}

.search-button a {
    font-size: 0.5em;
    color: white;
    line-height: 1.25em;
    vertical-align: middle;
}

.navbar-contents-right{
    text-align: right;
    margin-top: 0.4375em;
}

.contents-top-right{
    font-family: 'Mulish', sans-serif;
    font-size: 0.9375em;
    margin-bottom: 0.375em;
}

.contents-bottom-right{
    font-size: 0.6875em;
}

.menubar{
    padding: 0.875em 0 0.875em 0.5625em;
    background: #f5f5f5;
    color: #333333;
}

.menubar-contents-left{
    margin-left: 0.5625em;
    font-size: 0.81em;
    font-family: 'Noto Sans JP', sans-serif;
}

.menubar-contents-left span{
    margin-right: 1.875em;
}

.menubar-contents-right{
    font-size: 0.6875em;
    font-family: 'Mulish', sans-serif;
}

.menubar-contents-right img{
    vertical-align: sub;
}

.menubar-contents-right>span{
    margin-left: 1.875em;
    vertical-align: -webkit-baseline-middle;
}

.notifications{
    margin-left: 0.625em;
}

.noevent{
    color: #969696;
}

.main-container{
    margin-top: 1.875em;
}

.main-contents-left{
    width: 11.875em;
}

.list-topic{
    padding: 0.8em 0.7em;
    font-size: 0.97em;
    color: white;
    background: #2fc1d9;
    font-family: 'Mulish', sans-serif;
}

.list-contents{
    padding: 0.3125em 0;
    background: #f5f5f5;
}

#list-col1-row2{
    min-height: 27.125em;
}

#list-col3{
    min-height: 35.25em;
}

.search-list{
    padding: 0 0.875em 0 0.85em;
}

.list-contents li{
    padding: 0.625em 0;
    font-size: 0.6875em;
}

.list-contents li:hover{
    background: #ffffff;
    cursor: pointer;
}

.left-search-top .list-contents span{
    max-width: 100px;
}

.left-search-bottom .list-contents span{
    max-width: 144px;
}

.main-contents-center-wrapper{
    margin: 0 auto;
    width: 12.5em;
}

.main-contents-center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 1.6875em;
    width: 32.5em;
}

.main-contents-right{
    width: 10.9375em;
}

h2{
    font-size: 1.5em;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 7px;
    font-weight: 500;
}

.menu-val{
    text-align: center;
    font-size: 0.75em;
    padding-bottom: 9px;
    font-weight: lighter;
}

.tab-val{
    font-size: 0.6875em;;
    font-weight: lighter;
}

.horizontal-line{
    background-color: #2fc1da;
    height: 0.16em;
}

.center-menu-bar-contents{
    background: #f5f5f5;
    height: 65px;
    display: inline-block;
    width: 15.5625em;

}

.center-menu-bar-left .center-menu-bar-contents{
    padding: 0.625em 0 0.625em 0;
    vertical-align: top;
}

.center-menu-bar-right .center-menu-bar-contents{
    padding: 0.625em 0 0.625em 0;
    vertical-align: top;
}

.center-menu-bar{
    height: 4.0625em;
}

.center-menu-bar-right .center-menu-bar-items>span{
    margin-left: 0.625em;
}

.tab-1{
    margin-right: 0.625em;
}

.center-menu-bar-items>span{
    vertical-align: middle;
    background: #dddddd;
    height: 1.79em;
    line-height: 1.75em;
}

.tab-title{
    vertical-align: super;
    min-width: 5.5em;
    text-align: center;
    /* font-size: 0.6875em;;
    font-weight: lighter; */
}

.tab-img{
    height: 1.75em;
}

#active{
    background: #30c3db;
    color: white;
}

.center-menu-list li{
    padding-top: 0.9375em;
}

.list-content-wrapper{
    height: 4.375em;
}

.list-content{
    margin-left: 9px;
    vertical-align: top;
    font-family: 'Istok Web', sans-serif;
    color: #5c5c5c;
    font-size: 0.6875em;
}

.list-title{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    margin-bottom: 0.18em;
}

.blue-hl{
    color: #309eb0;
    font-weight: bold;
}

.green-hl{
    color: #709620;
    font-weight: bold;
}

#red-hl{
    color: #d53f1c;
    font-weight: bold;
}

.list-horizontal-line{
    height: 0.0625em;
    background: #aaaaaa;
    margin-top: 0.9375em;
}

.footer-container{
    margin-top: 2em;
    background: #727272;
    height: 2.8125em;
    vertical-align: middle;
    padding: 1em 0;
    color: #d4d4d4;
}

.footer-left, .footer-right{
    font-size: 0.5625em;
}
