body{
    font-family: 'Istok Web', sans-serif;
}

li{
    list-style: none;
}

span{
    display: inline-block;   
}

a{
    text-decoration: none;
}

.navbar{
    background: #7dd8e8;
    padding: 1.187em 0 0.375em 0;
}

.contents{
    max-width: 962px;
    /* max-width: 60.125em; */
}


.navbar-contents-left h1{
    font-family: 'Roboto Slab', serif;
    font-size: 3.125em;
    margin-top: -0.67rem;
    font-weight: lighter;
    color: #274f56;
}

.search-container-wrapper{
    /* margin-left: 23px; */
    margin: 1.25em 0em 0.56em 1.43em;
}

.search-container{
    background: url(../img/search-input.png) no-repeat;
}

.search-container input{
    margin-left: 0.5em;
    /* width: 13.125em; */
    width: 207px;
    /* font-family: 'Istok Web', sans-serif; */
    border: none;
    background-color: transparent;
    vertical-align: super;
    font-size: 0.61em;
}

.search-container input:focus{
    outline: none;
}

.search-button-container{
    margin-left: 0.4375em;
}

.search-button{
    background: #274f56;
    height: 1.25em;
}

.search-button a {
    font-size: 0.5em;
    color: white;
    line-height: 1.25em;
    vertical-align: middle;
}

.navbar-contents-right{
    text-align: right;
    margin-top: 0.4375em;
}

.contents-top-right{
    font-family: 'Mulish', sans-serif;
    font-size: 0.9375em;
    margin-bottom: 0.375em;
}

.contents-bottom-right{
    font-size: 0.6875em;
}

.menubar{
    padding: 0.875em 0 0.875em 0.5625em;
    background: #f5f5f5;
    color: #333333;
}

.menubar-contents-left{
    margin-left: 0.5625em;
    /* padding: 0.875em 0 0.875em 0.5625em; */
    font-size: 0.81em;
    font-family: 'Noto Sans JP', sans-serif;
}

.menubar-contents-left span{
    margin-right: 1.875em;
}

.menubar-contents-right{
    font-size: 0.6875em;
    font-family: 'Mulish', sans-serif;
}

.menubar-contents-right>span{
    margin-left: 1.875em;
}

.notifications{
    margin-left: 0.625em;
}

.main-container{
    margin-top: 1.875em;
}

.main-contents-left{
    max-width: 11.875em;
}

.search-topic{
    padding: 0.8em 0.7em;
    font-size: 0.875em;
    color: white;
    background: #2fc1d9;
    font-family: 'Mulish', sans-serif;
}

.search-contents{
    background: #f5f5f5;
    padding: 0.8125em 0.8125em 0.375em 0.6875em;
}

.search-contents li{
    margin-bottom: 10px;
    font-size: 0.6875em;
}

.search-contents li img{
    transform: translateY(25%);
    /* max-width: 127px; */

}


